::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: #5bb9f3;
}

::-webkit-scrollbar-thumb {
    background-color: #011972;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}